<div class="container" id="react-form-144">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-1">
            <p>Create a new article</p>
            <div id="create-article-form">
                <!-- form -->
            </div>
        </div>
    </div>
</div>
